%li{class: 'peep'}

  %span{class: 'source'}
    - if peep_maker
      = peep_maker.first_name 
      = peep_maker.last_name 
      %span{class: 'username'}
        = peep_maker.username
  %span{class: 'created'}
    = peep.created_at.strftime('%e %b %R')
  %p{class: 'post'}
    = peep.post